h1 {
  color: rgba(2, 119, 189, .87);
  font-size: 34px;

}

h2 {
  color: rgba(2, 119, 189, .87);
  font-size: 24px;
}

h3 {
  color: $dark-primary-color;
  font-size: 20px;
  font-weight: 600;
}

h4 {
  color: $dark-secondary-color;
  font-size: 16px;
}
