$pagination-color: $primary-color;
$pagination-border-color: $border-color;
$pagination-hover-color: $text-color;
$pagination-hover-bg: $fill-color;
$pagination-hover-border-color: $border-color;
$pagination-active-bg: $primary-color;
$pagination-active-border-color: $primary-color;
$pagination-disabled-border-color: $border-color;
